body {
	font-family: '微软雅黑';
	background: linear-gradient(#eee, #333);
	background-repeat: no-repeat;
	background-attachment:fixed;
}

.tabs {
	width: 100%;
	max-width: 90%;
	margin: 50px auto;
}

.tpl{
	opacity: 0;
	display:none;
}

label {
	cursor: pointer;
	background: linear-gradient(#888, #555);
	color: #eee;
	border-radius: 5px 5px 0 0;
	padding: 1.5% 3%;
	float: left;
	margin-right: 2px;
	font: italic 1em '微软雅黑';
}

label:hover {
	background: linear-gradient(#999, #666);
}

input:checked + label {
	background: #fff;
	color: #333;
}

.tabs input:nth-of-type(1):checked ~ .panels .panel:first-child,
.tabs input:nth-of-type(2):checked ~ .panels .panel:nth-child(2),
.tabs input:nth-of-type(3):checked ~ .panels .panel:nth-child(3),
.tabs input:nth-of-type(4):checked ~ .panels .panel:last-child {
	opacity: 1;
	transition: .3s;
}

.panels {
	float: left;
	clear: both;
	position: relative;
	width: 100%;
	background: #fff;
	border-radius: 0 10px 10px 10px;
	min-height: 315px;
}

.panel {
	width: 100%;
	opacity: 0;
	position: absolute;
	background: #fff;
	border-radius: 0 10px 10px 10px;
	padding: 4%;
	box-sizing: border-box;
}

.panel h2 {
	margin: 0;
	font-family: '微软雅黑';
}